@import '_asset.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121321;
}

/* GENERAL SETTINGS */
.container {
  width: 90%;
  margin: 0 auto;
}

/* Navbar Section */
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 88px;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.6s;

  .navbar-title {
    @include flex-center;

    h3 {
      font-family: $hc;
      font-size: $fs+22;
      margin-left: 75px;
      letter-spacing: 3px;
      color: $white;
    }
  }

  &.sticky {
    background-color: $black;
    height: 75px;
  }

  .menu {
    margin-right: 65px;
  }
}

nav {
  @include flex-center;

  ul {
    @include flex-center;
    column-gap: 56px;
    list-style: none;

    li a {
      text-decoration: none;
      font-family: $os;
      font-weight: 500;
      font-style: $fs+6;
      color: $white;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        background-color: $green;
        height: 2.5px;
        border-radius: 2px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}


//hamburger style

.menu-toggle {
  position: relative;

  .icon-bars {
    color: $white;
    display: none;
    text-decoration: none;
    transition: all 1s;
  }

  input {
    position: absolute;
    width: 43px;
    left: -7px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }

  .icon-close {
    display: none;
    color: $white;
    cursor: pointer;
    transition: all 1s;
    margin-right: 15vw;

  }

  input:checked~div:nth-child(2) {
    display: none;
  }

  input:checked~div:nth-child(3) {
    display: block;
  }
}

/* End of Navbar Section */

/* Hero Section */


.hero {
  height: 100vh;
  background-image: $b-image;
  background-size: cover;
  background-repeat: no-repeat;

  &-wrapper {
    position: relative;
    top: 24vh;
    display: flex;

    .hero-content {
      padding-left: 24px;
      width: 60%;

      .hero-content-title h1 {
        font-size: $fs+46;
        font-family: $hr;
        color: rgba(255, 255, 255, 0.8);
        letter-spacing: 5px;
        -webkit-text-stroke: 3px $pink;
        text-shadow: 0 0 10px $pink, 0 0 0px $pink, 0 0 20px $pink, 0 0 20px $pink, 0 0 80px $pink;
      }

      &-info {
        padding-left: 48px;
        margin-top: 24px;


        .info-build {
          @include flex-center;
          color: $white;

          h5 {
            font-family: $ox;
            font-size: $fs+14;
            font-weight: 400;
          }

          h6 {

            font-family: $os;
            font-size: $fs+6;

            text-transform: uppercase;
            color: $pink;
          }

          .line-hero {
            height: 28px;
            width: 3px;
            border-radius: 5px;
            margin: 0 16px;
            background-color: $white;
          }
        }

        .info-desc {
          margin-top: 8px;
          font-family: $os;
          color: $white;
          font-size: $fs+14;
          width: 560px;
        }
      }

      &-tagline {
        color: $white;
        font-family: $ox;
        font-size: $fs+22;
        padding-left: 15vw;
        margin-top: 28px;
        text-transform: uppercase;

      }

      &-btn {
        padding-left: 48px;
        margin-top: 56px;

        a {
          font-family: $hc;
          font-size: $fs+14;
          padding: 16px 72px;
          background-color: $green;
          color: $white;
          text-decoration: none;
          letter-spacing: 2px;
        }

        a:hover {
          background-color: $green;
          opacity: 80%;
          transition: 0.3s;
        }
      }

    }
  }



  &-video {
    width: 40%;
    padding-top: 64px;

    iframe {
      width: 100%;
      height: 100%;
      border: 3px solid $green;
      box-shadow: 0px 4px 20px 10px rgba(12, 163, 157, 0.45);
    }

  }

}

/* About us */
.aboutus {
  background-color: #121321;
  color: $white;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 8vh;
    column-gap: 80px;

    .team-foto {
      @include flex-center;
      width: 30%;
      height: 100%;
      flex-direction: column;
      row-gap: 16px;

      img {
        width: 100%;
        height: 80%;
        border: 2px solid $pink;
        box-shadow: 0px 4px 20px 10px rgba(255, 38, 194, 0.38);
      }

      a {
        background-color: $green;
        color: $white;
        text-decoration: none;
        font-family: $os;
        padding: 4px 16px;
        width: 70%;
        text-align: center;

      }
      :hover {
        opacity: 80%;
        transition: .3s;
      }

      i {
        margin-left: 16px;
      }
    }
  }

  &-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-title h1 {
      font-family: $ox;
      font-weight: 600;
      font-size: $fs+54;
      padding-top: 48px;
    }

    &-main {
      display: flex;
      flex-wrap: wrap;
      height: 80%;
      align-content: space-between;
    }
  }

  &-person {
    display: flex;
    width: 50%;
    font-family: $os;
    column-gap: 32px;

    .person-img {
      width: 35%;
      @include flex-center;
      flex-direction: column;

      img {
        width: 100%;
        filter: drop-shadow(0px 10px 13px rgba(12, 163, 157, 0.3));
      }

      .line-person {
        width: 100%;
        height: 2px;
        background-color: $green;
      }
    }

    .person-content {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      p {
        font-size: $fs+6;
        font-weight: 500;
      }
    }
  }
}



/* =========== DETAIL PERSON =========== */

.carousel {
  height: 120vh;
  background-image: $b-image;
  background-size: cover;
  background-repeat: no-repeat;

  .carousel-wrapper {
    position: relative;
    top: 10vh;
    display: flex;
    height: 90vh;

    .carousel-title {
      position: relative;
      width: 40%;
      top: 20vh;

      .carousel-nav {
        width: 40%;
        font-family: $os;

        ul {
          display: flex;
          justify-content: space-between;
          list-style: none;
          color: $white;

          li a {
            color: $white;
            font-size: $fs+6;
            text-decoration: none;
            font-weight: 500;

          }

          :hover {
            color: $pink;
            text-decoration: underline;
            transition: .3s;
          }
        }
      }

      .title-content {
        h1 {
          font-family: $hr;
          font-size: $fs+54;
          letter-spacing: 4px;
          color: $white;
        }

        h4 {
          font-family: $os;
          font-weight: 500;
          font-size: $fs+14;
          margin-top: 0.5rem;
          color: $white;
        }
      }
    }

    .carousel-content {
      width: 25%;
      height: 85%;

      .autoplay {
        height: 100%;
        width: 100%;

        .img-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          img {
            width: 100%;
            height: 100%;
            padding: 0 12px;
          }

          .slick-dots li button:before {
            color: $white;
          }
        }
      }
    }

    .carousel-btn {
      height: 100%;
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 2rem;
      align-items: center;

      button {
        font-family: $os;
        background-color: $green;
        border: none;
        padding: 1rem 2.5rem;
        color: white;
        font-size: $fs+14;
        cursor: pointer;

      }

      :hover {
        background-color: #0f807d;
        transition: 0.5s;
      }

      i {
        margin: 0 .5rem;

      }
    }
  }
}

.profile {
  color: white;
  display: flex;
  justify-content: space-between;
  height: 80vh;
  margin-top: 2rem;
  .person {
    width: 45%;
    .judul {
      h1 {
        font-size: $fs * 4;
        font-family: $ox;
        font-weight: 600;
      }
      p {
        font-size: $fs * 2;
        font-family: $os;
        font-weight: 500;
      }
    }
    .content-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      font-family: $os;
      margin-top: 2rem;
      .detail {
        display: flex;
        column-gap: 16px;
        align-items: center;
        .icon {
          font-size: 2rem;
          width: 2rem;
        }
        .detail-data {
          h4 {
            font-size: 0.8rem;
          }

          p {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .maps{
    width: 55%;
    .judul {
      h1 {
        font-size: $fs * 4;
        font-family: $ox;
        font-weight: 600;
      }
      p {
        font-size: $fs * 2;
        font-family: $os;
        font-weight: 500;
      }
    }
    iframe {
      margin-top: 2rem;
      width: 100%;
      height: 70%;
    }
  }

}



  
/* Footer */
footer {
  margin-top: 106px;
  margin-bottom: 24px;
  color: $white;
  font-family: $os;
  height: 102px;
  .footer-connect {
    @include flex-center;
    a i {
      font-size: $fs+14;
      margin-right: 16px;
      color: $white;
    }
  h4 {
    font-size: $fs+14;
    font-weight: 700;
    margin-right: 24px;
  }
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    
    .content-privacy {
      display: flex;
      column-gap: 24px;
    }
  }
}

/* =========== RESPONSIVE =========== */

/* rerponsive */
@media only screen and (max-width: 1450px) {
  .profile {
    display: inline;

    .maps {
      margin-top: 50px;
    }

    .person {
      .content-wrapper {
        display: flex;
        flex-flow: row wrap;

        .detail {
          width: 40%;
        }
      }
    }
  }
}


/* Responsive Tablet */
@media only screen and (max-width: 835px) {

  /* navbar */
  nav ul {
    column-gap: 30px;
  }

  .navbar-title h3 {
    font-family: $hc;
    font-size: $fs+22;
    margin-left: 75px;
    letter-spacing: 3px;
    color: $white;
  }
  // Hero content
  .hero {
    height: max-content;
    .hero-wrapper {
      flex-direction: column-reverse;
      width: 100%;
      top: 12vh;
      row-gap: 24px;
      .hero-video {
        width: 100%;
        iframe {
          width: 100%;
          height: 328px;
        }
      }
      .hero-content {
        padding: 0;
        .hero-content-info {
          padding-left: 0;
          .info-desc {
            font-size: $fs*2;
          }
        }
        .hero-content-tagline {
          font-size: $fs*2+4;
          padding: 0;
        }
        .hero-content-btn {
          padding: 0;
          margin-top: $fs*4;
        }
      }
    }
  }
  // end of hero

  // About us Section
  .aboutus {
    margin-top: 24vh;
    .team-foto {
      width: 40%;
    }
    .aboutus-content {
      width: 60%;
      display: block;
      .aboutus-content-title {
        h1 {
          font-size: $fs * 4;
          padding-top: 16px;
        }
      }
      .aboutus-content-main {
        display: block;
        margin-top: 24px;
        .aboutus-person {
          width: 100%;
          margin-top: 32px;
        }
      }
    }
  }

  // Footer 
  footer {
    .footer-connect {
      h4, a i {
        font-size: 18px;
      }
    }
    .footer-content {
      .content-privacy,
      .content-copyright {
        font-size: 14px;
      }
    }

  }

  // ===== DETAIL ====
  .carousel {
    .carousel-wrapper {
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: 100%;
      flex-wrap: wrap;
      row-gap: 1rem;
      .carousel-title {
        width: 100%;
        top: 0;
        order: 2;
      }
      .carousel-content {
        order: -1;
        width: 50%;
        height: 100%;
      }
      .carousel-btn {
        order: 1;
        width: 50%;
        height: auto;
      }
    }
  }

  .profile {
    flex-direction: column;
    .person {
      width: 100%;
      .content-wrapper {
        justify-content: space-between;
      }
    }
    .maps {
      width: 100%;
      iframe {
        height: 40vh;
      }
    }
  }
  

}

// Responsive Mobile
@media only screen and (max-width: 576px) {

  .container {
    width: 90%;
  }

  .navbar {
    .navbar-title {
      margin-left: -3%;
      h3 {
        font-size: 1.5rem;
      }
    }
    
    nav {
      .menu-toggle {
        .icon-bars {
          display: flex;
          margin-right: 15vw;
        }
      }

      .menu {
        position: absolute;
        left: 40vw;
        top: 10vh;
        height: 60vh;
        width: 60%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: rgba(12, 163, 157, 0.8);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.1px);
        -webkit-backdrop-filter: blur(2.1px);
        border: 1px solid rgba(12, 163, 157, 0.3);
        z-index: 1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
      }

      ul.slide {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }


  .hero-wrapper {
    .hero-video {
      iframe {
        width: 100%;
        height: 210px;
      }
    }
    .hero-content {
      width: 100%;
      .hero-content-title {
        h1 {
          font-size: $fs * 4;
        }
      }
      .hero-content-info {
        .info-build {
          h5 {
            font-size: 16px;
          }
          .line-hero {
            height: 18px;
          }
          h6 {
            font-size: $fs + 2;
          }
        }
        .info-desc {
         width: auto;
         font-size: 16px;   
        }
      }
      .hero-content-tagline {
        font-size: 24px;
      }
      .hero-content-btn {
        a {
          letter-spacing: 5;
          font-size: 16px;
          padding: 12px 40px;
        }
      }
    }
  }

  // ABOUT US
  .aboutus-wrapper {
    flex-direction: column;
    .team-foto {
      width: 100%;
      margin-bottom: 3rem;
    }
    .aboutus-content {
      width: 100%;
      .aboutus-content-main {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        .aboutus-person {
          margin: 0;
          justify-content: space-evenly;
          .person-content {
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  // Carousel
  .carousel {
    .carousel-wrapper {
      flex-direction: column;
      align-items: center;
      .carousel-content {
        width: 70%;
      }
      .carousel-btn {
        width: 100%;
        flex-direction: row-reverse;
        column-gap: 2rem;
        padding: 1rem auto;
        button {
          font-size: 16px;
        }
      }

      .carousel-title {
        margin-top: 1rem;
        .title-content {
          h1 {
            font-size: $fs * 4;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .profile {
    .person {
      .content-wrapper {
        flex-direction: column;
        width: 100%;
        .detail {
          width: 100%;
        }
      }
    }
  }

}

  
