/* Import Fonts */
/* Oxanium & Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Oxanium:wght@400;500;600&display=swap');

/* Helvetica */
@font-face {
  font-family: 'Helvetica Compressed';
  src: url(./fonts/helvetica-compressed.otf);
}

@font-face {
  font-family: 'Helvetica Rounded';
  src: url(./fonts/helvetica-rounded.otf);
}

/* CSS Variable */
:root {
  --white: #fff;
  --black: #080C12;
  --pink: #FF26C2;
  --green: #0CA39D;
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121321;
}

/* GENERAL SETTINGS */
.container {
  width: 90%;
  margin: 0 auto;
}


/* Navbar Section */
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 88px;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.6s;
}

.navbar.sticky {
  background-color: #080C12;
  height: 75px;
}

.navbar-title {
  display: flex;
  align-items: center;
}

.navbar-title h3 {
  font-family: 'Helvetica Compressed';
  font-size: 32px;
  margin-left: 75px;
  letter-spacing: 3px;
  color: var(--white);
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  column-gap: 56px;
  list-style: none;

}

nav ul li a {
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  position: relative;
}

.menu {
  margin-right: 65px;
}

nav ul li a:after {
  content: "";
  position: absolute;
  background-color: var(--green);
  height: 2.5px;
  border-radius: 2px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* hamburger */

.menu-toggle {
  position: relative;
}

.menu-toggle .icon-bars {
  color: var(--white);
  display: none;
  text-decoration: none;
  transition: all 1s;

}

.menu-toggle input {
  position: absolute;
  width: 43px;
  left: -7px;
  height: 30px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.menu-toggle .icon-close {
  display: none;
  color: var(--white);
  cursor: pointer;
  transition: all 1s;
  margin-right: 15vw;
}


/* Hamburger Menu Animation */
.menu-toggle input:checked~div:nth-child(3) {
  display: block;
}

.menu-toggle input:checked~div:nth-child(2) {
  display: none;
}


/* End of Navbar Section */

/* Hero Section */

.hero {
  height: 100vh;
  background-image: url(./images/background-top-text.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-wrapper {
  position: relative;
  top: 24vh;
  display: flex;
}

/* Video Settings */
.hero-video {
  width: 40%;
  padding-top: 64px;
}

/* .hero-video video {
  width: 100%;
  height: auto;

  border: 3px solid var(--green);
  box-shadow: 0px 4px 20px 10px rgba(12, 163, 157, 0.45);
} */

.hero-video iframe {
  width: 100%;
  height: 100%;
  border: 3px solid var(--green);
  box-shadow: 0px 4px 20px 10px rgba(12, 163, 157, 0.45);
}



/* Hero Settings */
.hero-content {
  padding-left: 24px;
  width: 60%;
}

/* Hero Title */
.hero-content-title h1 {
  font-size: 56px;
  font-family: 'Helvetica Rounded';
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 5px;
  -webkit-text-stroke: 3px var(--pink);
  text-shadow: 0 0 10px var(--pink), 0 0 0px var(--pink), 0 0 20px var(--pink),
    0 0 20px var(--pink), 0 0 80px var(--pink);
}

/* Hero Info */
.hero-content-info {
  padding-left: 48px;
  margin-top: 24px;
}

.info-build {
  display: flex;
  color: var(--white);
  align-items: center;
}

.info-build h5 {
  font-family: 'Oxanium';
  font-size: 24px;
  font-weight: 400;
}

.line-hero {
  height: 28px;
  width: 3px;
  border-radius: 5px;
  background-color: var(--white);
  margin: 0 16px;
}

.info-build h6 {
  font-family: 'Open Sans';
  font-size: 16px;
  text-transform: uppercase;
  color: var(--pink);
}

.info-desc {
  margin-top: 8px;
  font-family: 'Open Sans';
  color: var(--white);
  font-size: 24px;
  width: 560px;
}

/* Hero Tagline */
.hero-content-tagline {
  color: var(--white);
  font-family: 'Oxanium';
  font-size: 32px;
  padding-left: 15vw;
  margin-top: 28px;
  text-transform: uppercase;
}

/* Hero Button */
.hero-content-btn {
  padding-left: 48px;
  margin-top: 56px;
}

.hero-content-btn a {
  font-family: 'Helvetica Compressed';
  font-size: 24px;
  padding: 16px 72px;
  background-color: var(--green);
  color: var(--white);
  text-decoration: none;
  letter-spacing: 2px;
}

.hero-content-btn a:hover {
  background-color: var(--green);
  opacity: 80%;
  transition: 0.3s;
}

/* About us */

.aboutus {
  background-color: #121321;
  color: var(--white);
}

.aboutus-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 8vh;
  column-gap: 80px;
}

.team-foto {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
}

.team-foto img {
  width: 100%;
  height: 80%;
  border: 2px solid var(--pink);
  box-shadow: 0px 4px 20px 10px rgba(255, 38, 194, 0.38);

}

.team-foto a {
  background-color: var(--green);
  color: var(--white);
  text-decoration: none;
  font-family: 'Open Sans';
  padding: 4px 16px;
  width: 70%;
  text-align: center;
}

.team-foto i {
  margin-left: 16px;
}

.team-foto a:hover {
  opacity: 80%;
  transition: .3s;
}

.aboutus-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.aboutus-content-title h1 {
  font-family: 'Oxanium';
  font-weight: 600;
  font-size: 64px;
  padding-top: 48px;
}

.aboutus-content-main {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  align-content: space-between;
}

.aboutus-person {
  display: flex;
  width: 50%;
  font-family: 'Open Sans';
  column-gap: 32px;

}

.person-img {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-img img {
  width: 100%;
  filter: drop-shadow(0px 10px 13px rgba(12, 163, 157, 0.3));
}

.line-person {
  width: 100%;
  height: 2px;
  background-color: var(--green);
}

.person-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.person-content p {
  font-size: 16px;
  font-weight: 500;
}

/* Footer Section */

footer {
  margin-top: 106px;
  margin-bottom: 24px;
  color: var(--white);
  font-family: 'Open Sans';
  height: 102px;
}

.footer-connect {
  display: flex;
  align-items: center;
}

.footer-connect h4 {
  font-size: 24px;
  font-weight: 700;
  margin-right: 24px;
}

.footer-connect a i {
  font-size: 24px;
  margin-right: 16px;
  color: var(--white);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.content-privacy {
  display: flex;
  column-gap: 24px;
}

/* =========== DETAIL PERSON =========== */

.carousel {
  height: 100vh;
  background-image: url(../assets/images/background-top-text.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-wrapper {
  position: relative;
  top: 10vh;
  display: flex;
  height: 90vh;
}

.carousel-title {
  position: relative;
  width: 40%;
  top: 20vh;
}

.carousel-nav {
  width: 40%;
  font-family: 'Open Sans';
}

.carousel-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: var(--white);
}

.carousel-nav ul li a {
  color: var(--white);
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}

.carousel-nav ul li a:hover {
  color: var(--pink);
  text-decoration: underline;
  transition: .3s;
}

.title-content h1 {
  font-family: 'Helvetica Rounded';
  font-size: 64px;
  letter-spacing: 4px;
  color: var(--white);
}

.title-content h4 {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 24px;
  margin-top: 0.5rem;
  color: var(--white);
}

.carousel-content {
  width: 25%;
  height: 85%;
}

.autoplay {
  height: 100%;
  width: 100%;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  padding: 0 12px;
}

.slick-dots li button:before {
  color: var(--white);
}

.carousel-btn {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  align-items: center;
}

.carousel-btn button {
  font-family: 'Open Sans';
  background-color: var(--green);
  border: none;
  padding: 1rem 2.5rem;
  color: white;
  font-size: 24px;
  cursor: pointer;

}

.carousel-btn button:hover {
  background-color: #0f807d;
  transition: 0.5s;
}


.carousel-btn i {
  margin: 0 .5rem;
}

.profile {
  justify-content: space-between;
  color: white;
}

.profile .judul {
  margin-bottom: 40px;
  font-family: oxanium;
  font-weight: 600;
  font-size: 40px;

}

.profile .judul p {
  font-family: Open Sans;
  font-weight: 500;
  font-size: 20px;
}


/* ======== PERSON PROFILE ======= */
.profile {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.profile .detail {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 24px;
  gap: 17px;
  width: 80%;
}

.profile .detail .icon i {
  width: 20px;
  scale: 2;
}

.profile .detail-data h4 {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 500;
}

.profile .detail-data p {
  font-family: Open Sans;
  font-size: 26px;
  font-weight: 500;
}

.profile .maps iframe {
  width: 769px;
  height: 441px;
}


/* =========== RESPONSIVE =========== */

/* rerponsive */
@media only screen and (max-width: 1450px) {
  .profile {
    display: inline;
  }

  .profile .maps {
    margin-top: 50px;
  }

  .profile .person .content-wrapper {
    display: flex;
    flex-flow: row wrap;
  }

  .profile .person .content-wrapper .detail {
    width: 40%;
  }
}

@media only screen and (max-width: 1200px) {
  .profile .maps iframe {
    width: 100%;
    height: 350px;
  }

  .profile .person .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .profile .person .content-wrapper .detail {
    width: 45%;
  }

}

/* Responsive Tablet */
@media only screen and (max-width: 835px) {

  /* navbar */
  nav ul {
    column-gap: 30px;
  }

  .navbar-title h3 {
    font-family: 'Helvetica Compressed';
    font-size: 32px;
    margin-left: 75px;
    letter-spacing: 3px;
    color: var(--white);
  }

  /* Hero Section */
  .hero {
    height: max-content;
  }

  .hero-wrapper {
    flex-direction: column-reverse;
    width: 100%;
    top: 12vh;
    row-gap: 24px;
  }

  .hero-video {
    width: 100%;
  }

  .hero-video iframe {
    width: 100%;
    height: 328px;
  }

  .hero-content {
    padding: 0;
  }

  .hero-content-info {
    padding-left: 0;
  }

  .info-desc {
    font-size: 20px;
  }

  .hero-content-tagline {
    font-size: 24px;
    padding: 0;
  }

  .hero-content-btn {
    padding: 0;
    margin-top: 40px;
  }

  /* End of Hero */

  /* About Us Section */
  .aboutus {
    margin-top: 24vh;
  }

  .team-foto {
    width: 40%;
  }

  .aboutus-content {
    width: 60%;
    display: block;
  }

  .aboutus-content-title h1 {
    font-size: 40px;
    padding-top: 16px;
  }

  .aboutus-content-main {
    display: block;
    margin-top: 24px;
  }

  .aboutus-person {
    width: 100%;
    margin-top: 32px;
  }

  .person-content p {
    font-size: 18px;
  }

  /* End of Hero */

  /* Footer Section */
  .footer-connect h4,
  .footer-connect a i {
    font-size: 18px;
  }

  .content-privacy,
  .content-copyright {
    font-size: 14px;
  }

  /* ===== DETAILS ===== */

  .carousel-wrapper {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  .carousel-title {
    width: 100%;
    top: 0;
    order: 2;
  }

  .carousel-content {
    order: -1;
    width: 50%;
    height: 100%;
  }

  .carousel-btn {
    order: 1;
    width: 50%;
    height: auto;
  }
}





/* End of Responsive Tablet */

/* Responsive Phone */
@media only screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }

  .container {
    width: 100%;
  }

  .navbar-title {
    margin-left: -3%;
  }

  .navbar-title h3 {
    font-size: 1rem;
  }

  .menu-toggle .icon-bars {
    display: flex;
    margin-right: 15vw;
  }

  .menu {
    position: absolute;
    left: 40vw;
    top: 10vh;
    height: 60vh;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(12, 163, 157, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid rgba(12, 163, 157, 0.3);
    z-index: 1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .hero-video iframe {
    width: 100%;
    height: 210px;
  }

  .hero-content {
    width: 100%;
  }

  .hero-content-title h1 {
    font-size: 40px;
  }

  .info-build h5 {
    font-size: 16px;
  }

  .line-hero {
    height: 18px;
  }

  .info-build h6 {
    font-size: 12px;
  }

  .info-desc {
    width: auto;
    font-size: 16px;
  }

  .hero-content-tagline {
    font-size: 24px;
  }

  .hero-content-btn a {
    letter-spacing: 5;
    font-size: 16px;
    padding: 12px 40px;
  }

  .aboutus-wrapper {
    flex-direction: column;
  }

  .team-foto {
    width: 100%;
  }

  .aboutus-content {
    width: 100%;
  }

  .aboutus-content-main {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  .aboutus-person {
    margin: 0;
  }

  .person-content p {
    font-size: 14px;
  }

  .footer-connect h4,
  .footer-connect a i {
    font-size: 16px;
  }

  .content-copyright {
    margin-top: 40px;
  }

  /* DETAILS */
  .carousel-wrapper {
    row-gap: 2rem;
  }

  .carousel-nav {
    width: 70%;
  }

  .carousel-title h1 {
    font-size: 3rem;
  }

  .carousel-title h4 {
    font-size: 1.2rem;
  }

  .carousel-content {
    width: 60%;
  }

  .carousel-btn {
    height: 100%;
    flex-direction: row-reverse;
    column-gap: 2rem;
  }

  .carousel-btn button {
    font-size: 16px;
    padding: 8px 3rem;
  }


  .profile .person .content-wrapper {
    display: inline;
  }

  .profile .person .judul {
    font-size: 28px;
  }

  .profile .maps .judul {
    font-size: 28px;
  }

  .profile .person .content-wrapper .detail {
    width: 100%;
  }
}